practica/02_klassen_en_objecten_deel_1/tetris/__init__.py
practica/02_klassen_en_objecten_deel_1/tetris/.DS_Store
practica/02_klassen_en_objecten_deel_1/tetris/class_figure.md
practica/02_klassen_en_objecten_deel_1/tetris/LICENSE
practica/02_klassen_en_objecten_deel_1/tetris/main.py
practica/02_klassen_en_objecten_deel_1/tetris/opdracht_refactoring.docx
practica/02_klassen_en_objecten_deel_1/tetris/README.md
practica/02_klassen_en_objecten_deel_1/tetris/record
practica/02_klassen_en_objecten_deel_1/tetris/requirements.txt
practica/02_klassen_en_objecten_deel_1/tetris/start_tetris.sh
practica/02_klassen_en_objecten_deel_1/tetris/test_tetris_objects.py
practica/02_klassen_en_objecten_deel_1/tetris/tetris_objects.py
practica/02_klassen_en_objecten_deel_1/tetris/__pycache__/tetris_objects.cpython-311.pyc
practica/02_klassen_en_objecten_deel_1/tetris/font/font.ttf
practica/02_klassen_en_objecten_deel_1/tetris/img/bg.jpg
practica/02_klassen_en_objecten_deel_1/tetris/img/bg2.jpg
practica/02_klassen_en_objecten_deel_1/tetris/screenshot/1.png
.ipynb_checkpoints
.ipynb_checkpoints/pytorch-kruisjes-rondjes-checkpoint.ipynb
.ipynb_checkpoints/pytorch-kruisjes-rondjes-checkpoint.ipynb
project/simpylc/simulations/arduino_led_timer/__pycache__/led_timer.cpython-311.pyc
project/simpylc/simulations/arduino_led_timer/__pycache__/timing.cpython-311.pyc
project/simpylc/simulations/arduino_led_timer/__pycache__/world.cpython-311.pyc
project/simpylc/simulations/car/__pycache__/visualisation.cpython-310.pyc