practica/02_klassen_en_objecten_deel_1/tetris/LICENSE
practica/02_klassen_en_objecten_deel_1/tetris/main.py
practica/02_klassen_en_objecten_deel_1/tetris/README.md
practica/02_klassen_en_objecten_deel_1/tetris/record
practica/02_klassen_en_objecten_deel_1/tetris/requirements.txt
practica/02_klassen_en_objecten_deel_1/tetris/font/font.ttf
practica/02_klassen_en_objecten_deel_1/tetris/img/bg.jpg
practica/02_klassen_en_objecten_deel_1/tetris/img/bg2.jpg
practica/02_klassen_en_objecten_deel_1/tetris/screenshot/1.png
